#body{
    background-color: rgb(212, 245, 245);
    margin: 20px;
}
#form{
    background-color: aliceblue;
    border-radius: 20px;
}
#shop{
    text-align: right;
    color: rgb(31, 29, 29);
    padding: 20px;
    justify-content: space-between;
}